.whole-body {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.navBar {
  background-color: #075E54;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  padding: 1em
}

.profile-pic {
  border-radius: 50%;
  max-width: 5vw;

}

.chatbox {
  display: block;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  background-color: #075E54;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em
}

.inputBar {
  width: 75%;
  padding: 10px;
  border-radius: 15px;
}

.inputBar:focus {
  outline: none;
}

.chatButton {
  width: 25%;
  background-color: #DCF8C6;
  font-size: 1em;
  font-weight: bold;
  color: #075E54;
  display: inline;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 15px;
}

.chatButton:hover {
  background-color: rgb(184, 247, 136);
}

.chatButton:focus {
  outline: none;
}

.chat-log {
  background-color: rgb(255, 237, 215);
  height: 100vh;
  padding: 1em
}

.text-row {
  padding: 0.5em;
  /* padding-left: 1em;
  padding-right: 1em */
}

.text-bubble {
  background-color: white;
  max-width: max-content;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  margin-left: 0.5em
}


.createdAt {
  color: grey;
  font-size: 0.3em;
  margin-bottom: 3px;
  margin-top: 2px;
}